@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

#body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #f0ec0c;
}

#bdy{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f0ec0c;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

#input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 25px 30px;
}

#refresh{
    padding: 5px;
}

#todo{
    width: 200px;
    height: 25px;
    margin-top: 1px;
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 5px;
}

#addbtn{
    width: 75px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 7px;
    margin-top: 1px;
    margin-left: 10px;
}

#refreshbtn{
    width: 75px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 7px;
}

#box{
    border-radius: 7px;
    width: 550px;
    background: #ded776;

}

#result{
    margin: 20px 25px 30px;
    background: aliceblue;
    border-radius: 7px;
    padding: 4px;
}

#deletebtn1{
    width: 75px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 7px;
}

#deletebtn2{
    width: 75px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 7px;
}

#form{
    display: flex;
    justify-content: center;
}
#result-box{
    margin: 20px 25px 30px;
    background: aliceblue;
    border-radius: 7px;
    /* padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center; */
}